<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:jaxws="http://cxf.apache.org/jaxws" 
       
      xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <jaxws:endpoint id = "hs" implementor = "com.service.impl.HelloImpl" address="/hs"/>
    <jaxws:endpoint id = "Search" implementor = "com.service.impl.SearchImpl" address = "/S"/>
    <jaxws:endpoint id = "PersonalSales" implementor = "com.service.impl.PersonalSalesImpl" address = "/PS"/>
    <jaxws:endpoint id = "AddItem" implementor = "com.service.impl.AddItemImpl" address = "/ADD"/>    
    <jaxws:endpoint id = "DeleteItem" implementor = "com.service.impl.DeleteItemImpl" address = "/DEL"/>    
    <jaxws:endpoint id = "BackUpBalancer" implementor = "com.getService.GetServiceImpl" address = "/BackUpBalancer"/>
</beans>